.Main {
    background-color: #25A2BE;
    padding-left: 25px;
    padding-right: 25px;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
  }
  
  .PageHeader {
    grid-row: 1;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    height: 200px;
    color: white;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  
  .PageHeader img {
    width: 200px;
  }
  
  .Search {
    grid-row: 2;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 10px;
  }
  
  .Rooms {
    margin-right: 50px;
  }
  
  .Search input {
    width: 320px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    text-indent: 20px;
    font-size: 24px;
  }
  
  .Search .Sbar {
    margin-right: 49%;
  }
  
  #icon4 {
    position: absolute;
    right: 940px;
  }
  
  .Sicon {
    position: relative;
  }
  
  .ListContainer {
    grid-row: 3;
    grid-column: span 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E1F4F4;
    border-radius: 25px;
    height: 600px;
    border: solid 2px black;
  }
  
  .ListTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14DADA;
    width: 95%;
    height: 60px;
    border-radius: 25px 25px 0 0;
    padding: 0 46px;
    font-size: 30px;
    border-bottom: solid 2px black;
    margin: 0 auto;
  }
  
  .ListRoom {
    flex: 1;
    overflow-y: auto;
    padding: 10px 0;
    width: 100%;
  }
  
  .ListRoom .PatientN1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 50px;
    padding: 0 10px;
    border-bottom: solid 1px black;
    width: 98.9%;
  }
  
  .ListRoom .PatientN1 button {
    width: 100px;
    height: 30px;
    border: none;
    background-color: #19C491;
    color: white;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .ListRoom .PatientN1 button:hover {
    background-color: #128b67;
    cursor: pointer;
  }
  