.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #25A2BE;
}
.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white
}
.Columns{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px; /* space between rows */
}
.Rows{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20%; /* space between columns */
}
.Rows div{ 
  position: relative;
  background-color: #E1F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
}

.Rows div .Links2{  width: 100%;  }

.Rows div button{ 
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 25px 25px;
  background-color: #14DADA;
  border: none; 
}

.Rows div .Links2 :hover{
  background-color: #12c9c9;
  transition: 0.3s;
  cursor: pointer;
}

.Rows div .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.AdminHeader{ color: white; height: 40px; padding-top: 10px;}

.Admin{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #E1F4F4;
  border-radius:25px;
}
.Admin div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
}
.Admin div .Admin-btns{
  width: 100%;
  border-radius: 25px;
}
.Admin div button{
  width: 100%;
  border: none;
  background-color: #14DADA;
  border-radius: 25px;
}
.Admin-btns :hover{
  background-color: #12c9c9;
  transition: 0.3s;
  cursor: pointer;
}


/* Laptop screens and large taplets */
@media screen and (min-width: 992px) {
  .Header{
    font-size: 24px;
    width: 80%;
    padding: 10px 0 10px 0;
  }
  .Header img{  width: 200px; }
  .Rows div{
    width: 330px;
    height: 150px;
    font-size: 18px;
  }
  .Rows div button{
    font-size: 20px;
    height: 30px;
  }
  /* images of each section */
  .Receptionist img{width: 120px;}
  .Doctor img{width: 80px;}
  .Pharmacist img{width: 80px;}
  .DrugStore img{width: 90px;}
  
  .Admin{
    width: 60%;
    padding: 10px 50px;
  }
  .Admin img{
    width: 70px;
    padding-bottom: 10px;
  }
  .Admin div button{
    font-size: 16px;
    height: 25px;
  }
}

/* Desktops and Large Laptops */
@media screen and (min-width: 1400px) {
  .Header{
    font-size: 30px;
    width: 80%;
    padding: 10px 0 30px 0;
  }
  .Header img{  width: 300px; }
  .Rows div{
    width: 400px;
    height: 200px;
    font-size: 20px;
  }
  .Rows div button{
    font-size: 24px;
    height: 40px;
  }
  /* images of each section */
  .Receptionist img{width: 140px;}
  .Doctor img{width: 120px;}
  .Pharmacist img{width: 100px;}
  .DrugStore img{width: 120px;}

  .Admin{
    width: 56%;
    padding: 20px 50px;
  }
  .Admin img{
    width: 120px;
    padding-bottom: 10px;
  }
  .Admin div button{
    font-size: 20px;
    height: 30px;
  }
}