.Tcontainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.Med-Header{
    width: 100%;
    background-color: #B0EEEE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    color: black;
}
.Med-Body{
    width: 100%;
    background-color: #D1F3FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.Med-Row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    border-bottom: 1px solid black;
}

.Med-Row p{
    background-color: red;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .Tcontainer{height: 300px;}
    .Med-Header{height: 40px;}
    .Med-Body{height: 260px;}
}

@media only screen and (min-width: 1400px) {
    .Tcontainer{height: 550px;}
    .Med-Header{height: 50px;}
    .Med-Body{height: 500px;}
   
    
}