.HealthContainer {
    background-color: #E1F4F4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HealthHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    color: rgb(0, 0, 0);
}

.HealthBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}

.ListD-Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(0, 0, 0);
    border: 2px #d3d3d3 solid;
    background-color: #BAEBF2;
    border-radius:20px 20px 0 0;
}

.ListD-Header p {
    font-weight: 600;
}

.ListD-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px #d3d3d3 solid;
    border-top: none;
    background-color: #D1F3FA;
    border-radius: 0 0 5px 20px;
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
}


.Disease {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px #d3d3d3 solid;
    width: 100%;
    padding: 20px;
}

.Disease p {

    width: 20%;
}

.Disease p.description {
    margin-right: 5%;
    text-align: left;
    max-width: 400px;
    width: 40%; /* Optional: control the width if needed */
    padding: 0 10px; /* Optional: padding to give space around text */

}

/* Laptop */
@media only screen and (min-width: 992px) {
    .HealthHeader {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 2%;
    }

    .HealthHeader img {
        width: 120px;
    }

    .HealthBody {
        height: 450px;
    }

    .ListD-Header {
        height: 50px;
        font-size: 24px;
        padding: 10px 20px 10px 20px;
    }

    .ListD-Header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 150px;
    }
    .Disease p.description {
        margin-right: -2%;
    }
    .ListD-Content {
        height: 630px;
        padding: 0 20px 0 20px;
        font-size: 20px;
    }
}

/* Desktop */
@media only screen and (min-width: 1400px) {
    .HealthHeader {
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 2%;
    }

    .HealthHeader img {
        width: 180px;
    }

    .HealthBody {
        height: 700px;
    }

    .ListD-Header {
        height: 50px;
        font-size: 24px;
        padding: 10px 20px 10px 20px;
    }
    .Disease p.description {
        margin-right: 5%;
    }
    .ListD-Header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 150px;
    }

    .ListD-Content {
        height: 630px;
        padding: 0 20px 0 20px;
        font-size: 20px;
    }
}
