.RecContainer{
    background-color: #87D3E4;
    height: 100vh;
}
.RecHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 64px;
    padding: 25px 10%;
    color: white;
}
.RecHeader img{
    width: 300px;
    height: 230px;
}
.RecBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 0 10%;
}
.RecBody img {
    width: 180px;
}
.RecBody div{
    background-color: #E1F4F4;
    width: 510px;
    height: 280px;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px #25A2BE;
}
.RecBody div button{
    background-color: #14DADA;
    color: rgb(0, 0, 0);
    width: 510px;
    height: 75px;
    border-radius: 0 0 25px 25px;
    border: none;
    font-size: 30px;
    margin-top: 25px;
}
.RecBody div button:hover{
    background-color: #25A2BE;
    cursor: pointer;
}
.upper-right{
    grid-column: 3;
}
.down-right{
    grid-column: 3;
}
#upper-left{
    padding: 0px 165px 20px 165px;
}
#upper-right{
    padding: 0px 145px 17px 145px;
}
#down-left{
    padding: 0px 185px 20px 185px;
}
#down-right{
    padding: 0px 160px 20px 160px;
}
.Links3 {
    color: black;
    border-radius: 0 0 20px 20px;
  }
  .Links3:hover{
    cursor: pointer;
  }


  @media only screen and (min-width:992px){
    .RecHeader{
        font-size: 48px;
    }
    .RecHeader img{
        width: 210px;
        height: 150px;
    }
    .RecBody div{
        width: 450px;
        height: 160px;
    }
    .RecBody img{
        width: 100px;
    }
    .RecBody div button{
        width: 450px;
        font-size: 24px;
        padding-bottom: 25px;
        height: 40px;
    }
    
  }